.hero2 {
    width: 100%;
    position: relative;
    padding-bottom: 200px;
    .bacround {
        width: 707px;
        position: absolute;
        right: 0;
        top: 100px;
        img{
            width: 100%;
        }
    }

    .container {
        width: 100%;
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        row-gap: 10px;

        .hero-title {
            font-size: 14px;
            color: gray;
            margin-top: 80px;
            margin-bottom: 60px;
            span{
                color: black;
            }
        }

        .info {
            width: 500px;
            margin-top: 50px;
            h1 {
                font-size: 55px;
                font-weight: 500;
            }

            p {
                font-size: 15px;
                margin-top: 20px;
                line-height: 30px;
            }
        }
    }
}


.bolim-section{
    width: 100%;
    margin: 80px 0px;
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        .card{
            width: 260px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            border: 1px solid gray;
            border-radius: 5px;
            padding: 20px;
            row-gap: 2px;
            transition: all .3s ease;
            &:hover{
                background-color: #DB4444;
                color: white;
                cursor: pointer;
                border-color: #DB4444;
            }
            img{
                width: 70px;
            }
            h1{
                margin-top: 10px;
                font-size: 30px;
            }
            p{
                font-size: 14px;
            }
        }
    }
}


.user-info{
    width: 100%;
    margin-bottom: 80px;
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        .box{
            width: 360px;
            display: flex;
            align-items: start;
            justify-content: start;
            flex-direction: column;
            img{
                width: 100%;
            }
            h2{
                font-weight: 500;
                margin-top: 20px;
                line-height: 20px;
            }
            p{
                margin: 8px 0px;
            }
            .icons{
                display: flex;
                align-items: center;
                justify-content: start;
                gap: 20px;
                span{
                    font-size: 23px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                }
            }
        }
        .dots {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            bottom: -40px;
            left: 50%;
            transform: translateX(-50%);
            gap: 8px;
            .dot {
                width: 12px;
                height: 12px;
                background-color: rgba(128, 128, 128, 0.585);
                border-radius: 50%;
                border: 2px solid transparent;
                &:hover {
                    border: 2px solid #DB4444;
                    cursor: pointer;
                    background-color: #DB4444;
                }
            }
        }
    }
}

.cardds{
    width: 100%;
    margin: 140px 0px !important;
    .container{
        .cards{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 40px;
            margin-top: 60px;
            margin-bottom: 30px;
            .card{
                width: 300px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                row-gap: 2px;
                img{
                    width: 70px;
                }
                h4{
                    margin-top: 10px;
                }
                p{
                    font-size: 13px;
                }
            }
        }
    }
}