.mySwiper{
    width: 82%;
    display: flex;
    align-items: center;
    justify-content: end !important;
    margin-right: 0;
    .swiper-slider{
        border-radius: 10px;
        overflow: hidden;
        margin-top: 20px;
    }
    .swiper-pagination-bullet{
        width: 10px !important;
        height: 10px !important;
        background-color: white;
        opacity: 0.6 !important;
    }

    .swiper-pagination-bullet-active{
        background-color: white !important;
        opacity: 1 !important;
    }
}